.about__us {
  width: 1500px;
  height: 600px;
  margin-bottom: 200px;
  text-align: center;

  &__title {
    text-align: center;
  }

  &__video {
    width: 500px;
    height: 500px;

    iframe {
      min-width: 500px;
      height: 200px;
    }
  }
}
